body {
  position: relative;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(107deg, #2a79f9 0%, #2a79f9 50%, white 50%, white 100%);
  background: linear-gradient(-17deg, #2a79f9 0%, #2a79f9 50%, white 50%, white 100%);
  background-repeat: no-repeat;
}

.wrapper {
  width: 540px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.image img {
  width: 540px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image {
  height: 303px;
}

.title {
  background: #E1E2E2;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p {
  color: #4f4f4f;
  font-size: 12px;
}

.big {
  font-weight: 500;
  letter-spacing: 1px;
  color: #1A1A1A;
  font-size: 18px;
}

.loading-bar {
  height: 8px;
  width: 100%;
  background: #F6F6F6;
}

.inner-loading-bar {
  width: 85%;
  height: 100%;
  background: #2a79f9;
}

.info {
  background-color: #FFFFFF;
  padding: 18px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.heading {
  font-size: 14px;
  color: #1A1A1A;
  font-weight: 500;
  line-height: 1.5;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location .fa {
  margin-right: 5px;
  color: #4f4f4f;
}

.cta-box {
  margin-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cta-box .fa {
  margin-bottom: 10px;
  margin-right: 5px;
}

.small {
  font-size: 10px;
  width: 200px;
  line-height: 1.3;
}

.button {
  width: 200px;
  padding: 18px 0;
  background-color: #2a79f9;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.cash {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: inherit;
}

span {
  margin-right: 5px;
}
